<a href="https://colab.research.google.com/github/ashutoshmarachi/datasciencecoursera/blob/main/data_science_enthusiasts_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#reversing a string
''' this can be done by simple string method  i dont know exactly how it is |n
it is working but by practise i know it is the most simplest metho'''


str= "my name is Prafull"
str1= str[::-1]
print(str1)
'''but here we have to reverse the word of the string'''
str= "my name is prafull"
str1=str.split()
list1=[]
for i in str1:
  list1.append(i[::-1])
print("result as per condition:",' '.join(list1))

llufarP si eman ym
result as per condition: ym eman si llufarp

In [ ]:
''' alternatively upper and lower cases in a string word'''
word= 'aShutoshshDarma'
end=''
is_uper= True

for i in word:
  if is_uper:

    end+=i.lower()
  else:
    end+=i.upper()
  is_uper = not is_uper
print(end)

aShUtOsHsHdArMa

In [ ]:
'''input a5b3d2------output=aaaaabbbdd'''
str="a5b3d2"
output=""
for i in str:
  if i.isalpha():
    res=i
  else:
    n=int(i)

    output=output +(res*n)
print(output)
'''this is the most simplest aproach first we find the alphabests,when we find \n
number the we convert it i to integer'''

5
5
3
3
2
2
aaaaabbbdd

In [ ]:
''' in this problem we have to sort the alphabets and numerical'''
str='a1s23f4g5'
alst=[]
nlst=[]
for char in str:
  if char.isalpha:
    alst.append(char)
  else:
    nlst.append(char)
res= sorted(alst) +sorted(nlst)
print("".join(res) )

12345afgs

first chacter of list word

In [ ]:
sample=["Ashutosh",'vaibhav','Aman',]
lst1=[]
for i in sample:
  lst1.append(i[0])
print(lst1)
'''this code is working we are travesing in the list the help of i\n
and after that the object in the oist is string so we can move with the \n
help of index of the string

Duplicate number in the integer list

In [ ]:
lst1= [1,2,45,33,2,2,2,5,54,5,6,45,54,54]
res=[]
for i in range(len(lst1)):
  for j in range(i+1,len(lst1)):
    if lst1[i]== lst1[j] and lst1[i] and lst1[i] not in res:
      res.append(lst1[i])
print(res)


''' not much input is given by me i just used alll the conditional statemnts given to me soorry

[2, 45, 5, 54]

removing duplicates

In [ ]:
lst1= [1,2,45,33,2,2,2,5,54,5,6,45,54,54]
res=[]
for i in range(len(lst1)):
  if  lst1[i] not in res:
    res.append(lst1[i])
print(res)
'''here i used a more basic approach using the control flow ,but the more easy code is the onbe given in the pdf\n
as it uses the property of set,in which duplicate elements are not repeated.'''

[1, 2, 45, 33, 5, 54, 6]

# New section
'''for pallindrome to check a string we can use [::-1] aproach if both equal then palindrome.'''

In [ ]:
def palindrome(str):
  if str == str[::-1]:
    print("string is a palindrome")
  else:
    print("string is not palindrome")


palindrome("madam")

''' i still get verry confuseed in the numbers,when we have to check if a no is palindrome or not'''

string is a palindrome

getting the misssing number 1 to 25

In [ ]:
lst = []
for i in range(0, 11):
    lst.append(i)

print(lst)

lst1 = []
for i in range(0, 26):
    if i in lst:
        continue
    else:
        lst1.append(i)

print(lst1)
'''here i used a diffrent appraoach from the given pdf and lst1 produces all the numbers that are not present in the lst1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

reversing a string using recursion

In [ ]:
def reverse(string):
  if len(string)==1:
    return string
  else:
    return reverse(string[1:])+string[0]
reverse("hello")     ''' cheating kind of '''

'olleh'

common element in the two lists

In [ ]:
list=[1,3,4,5,6]
list2=[4,57,98]
cmn=[]
for i in range(len(list)):
  for j in range(len(list2)):
    if list[i] == list2[j]:
      cmn.append(list[i])
print(cmn)

[4]

sorting with any inbuilt function

In [ ]:
lst = [3, 6, 2, 5, 4]
sor = []

while lst:
    min_val = lst[0]
    min_index = 0


    for i in range(1, len(lst)):
        if lst[i] < min_val:
            min_val = lst[i]
            min_index = i

    sor.append(min_val)
    lst.pop(min_index)

print(sor)

[2, 3, 4, 5, 6]

s1 = "silent"
s2 = "listens"
write a functions to return the two stings are anaagrams or not.

l=[2,3,5,7,8,3,2,4,14,6,2,12,14]
1) Write a python program to give the greatest element among the list.
2) Write a program to return a dictonary in which the key will be the number and the value will be its occurence in the list.

l=[2,3,5,7,8,3,2,4,14,6,2,12,14]
 print all even numbers using list comprehension

greates in integer

In [ ]:
l=[2,3,5,7,8,3,2,4,14,6,2,12,14]
max=l[0]
for i in range(len(l)):
  if l[i]>max:
     max=l[i]
print(max)

14

Write a program to return a dictonary in which the key will be the number and the value will be its occurence in the list.

In [ ]:
l=[2,3,5,7,8,3,2,4,14,6,2,12,14]
def pep(l):
  m={}
  for i in range(len(l)):
    m[l[i]]= i
  print(m)



print(pep(l))

# i donot have idea how it is handling the duplicates in  the list'''

{2: 10, 3: 5, 5: 2, 7: 3, 8: 4, 4: 7, 14: 12, 6: 9, 12: 11}
None

print all even numbers using list comprehension

In [ ]:
l=[2,3,5,7,8,3,2,4,14,6,2,12,14]
even=[x for x in l if x%2==0]
print(even)
#not my orginal code i have never read about list comprehension

[2, 8, 2, 4, 14, 6, 2, 12, 14]